@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* { box-sizing: border-box; }
*:first-child { margin-top: 0; }
*:last-child { margin-bottom: 0; }

html {
  height: 100%;
  padding: 0 2rem;
  background: #555;
}

body {
  font: 1rem/1.33 'Source Sans Pro', sans-serif;
  min-height: calc(100% - 4rem);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 45rem;
  background: #DDD;
  border-radius: .2rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  border-top: 1px solid #333;
  padding: 1rem 0 0;
}

code {
  display: inline-block;
  font: .8em 'Source Code Pro', monospace;
  padding: 0 .25em;
  border-radius: .2em;
  background: #CCE;
}

button {
  font-size: inherit;
  cursor: pointer;
}

.warning {
  padding: .5rem;
  background: #EEC;
  border-radius: .2rem;
}

.warning strong:first-child {
  color: #980;
}

/* Add some flare to our (very) basic components ----------------------------------------------- */

.dialog__main {
  max-width: 80vw;
  max-height: 80vh;
  padding: .75rem;
  border-radius: .5rem;
  overflow: auto;
}
