name: Tests
on:
  pull_request:
    branches: [ master ]
jobs:
  linter:
    name: Lint & Code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: 'npm'
      - run: npm ci
      - run: npm run test:lint
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: 'npm'
      - run: npm ci
      - run: npm run test:unit
  e2e-tests:
    name: Functionnal tests
    needs: unit-tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        # Windows and macOS environnement are not super stable
        experimental: [false, true, true]
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: 'npm'
      - run: npm ci
      - run: npm run test:e2e
